.image-cropper {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-top: 200px;
    margin-left: 1100px;
}

.navItem {
  color: #ffffff;
}

#skills {
  padding-bottom: 10%;
}
